*{
    margin:0;

   
} 

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border:3px solid red;
    height:130px;
    background:rgb(231, 224, 224);

}
#logo{
    height:100px;
    width:120px;
    margin-top:20px;
}
#webname{
    margin-top:50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
   /* text-shadow:1px 1px 1px red ;
   
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:black;
    color:white;
    font-weight: bolder;*/
}
nav::before{
    height:80vh;
    width:100%;
    content:" ";
    background:url("IMG_20231013_134754.jpg")center center/cover no-repeat;
    position:absolute;
    z-index:-1;
    margin-top:0%;
    margin-left: 0%;
    opacity:0.65;
    
}
.navbar{
   /*border:1px solid red;*/

   display:flex;
   flex-direction:row;
   justify-content: center;
   align-content: center;
   
     
}
li{
    list-style: none;
    margin-right:50px;
    margin-top:10px;
    font-size: 14PX;
    font-weight: bolder;
    color: rgb(12, 12, 69);
    border:1px solid gray;
    height: 27px;
    border-radius: 14px;
    width:150px;
    text-align: center;
    padding-top: 8px;
    margin-left: 20px;
    justify-content: space-around;
    background:rgb(236, 7, 7);
    color:white;
    border:2px solid black;
    
    

}
li:hover{
    background:brown;
    color:black;
}

h1{
    text-align: center;
    align-content: center;
    justify-content: center;
    float: right;
    margin-top: 250px;
    font-size: 50px;
    font-weight: bolder;
    text-shadow:white;
    font-family:'Courier New', Courier, monospace;
   }
   
   
  /* span{
    font-size:30px ;
    position:relative;
    display: inline-block;
    color:BLACK;
    height:45px;
    font-weight: bolder;
    text-shadow: 2px 2px 4px 2px yellow;
    text-align: center;
    vertical-align: bottom;
    

        display: block;
        animation:animateword 5s infinite ease;

    }
    span:after{
        content: "";
        animation: span 5s linear infinite;
    }

   
   @keyframes span{
    0%{
        transform:translateY(0%);

    }
    25%{
        transform:translateY(-100%);
    }
    50%{
        transform:translateY(-200%);
    }
    75%{
    transform:translateY(-300%);
   }
   100%{
    transform:translateY(-400%);
   }

   }*/
h4{
    text-align: center;
    font-weight:bolder;
    margin-top:120px;
    font-size:60px;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:rgb(10, 10, 32);
    text-shadow: 4px 5px 2px white;
}
p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    
}
section{
    text-align: center;
    margin-top: 100px;
   
}
#spin{
    color:rgb(246, 17, 17);
    outline :2px black;
    text-shadow: 5px 5px 10px hwb(0 0% 100% / 0.933);
    font-family: 'Luckiest Guy', cursive;
    font-size:60px;
    text-align: center;
    font-weight:bolder;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:black;

}
#spin:after{
    content:"";
    animation: spin 6s linear infinite;
}
@keyframes spin{
    0%{
        content: "Be a Blood Donor Be a Hero...";
    }
    40%{
        content:"One Donation Can Save Three Lives...";
    }
    80%{
        content: "Be Someone's Lifeline:Give Blood...";
    }
    90%{
        content: "Life is in Your Blood:Share It...";
    }
}
 /**
.container{
    height:100vh;
    width:100%;
    margin:0;
    padding:0;

 background:linear-gradient(140deg,red,rgb(106, 16, 5));*/
    
   
   #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }